form {
    // border: 1px solid #545454;
    border-radius: 10px;
    padding: 40px;
    box-shadow:0 4px 10px 0 rgba(0,0,0,0.2);
    background-color: white;
    background-image: url("../images/letters.png"); 
}

textarea {
    display: block;
    padding: 15px 20px;
    width: 90%;
    height: 150px;
    margin: 25px auto;
    font-family: "Roboto", sans-serif;
}

#submitButton {
    display: block;
    margin: 0px auto;
}

#submitSection {
    margin-bottom: 50px;
}
